.checkLoading {
  padding: 50px;
}
.Results {
  margin: 50px 0;
  height: 300px;
  width: 100%;
  background-color: #323544;
  border-radius: 10px;
  display: flex;
}
.Results .evenStyle:nth-child(even) {
  background-color: #1e202b;
}
.Results .today {
  flex: 3;
  grid-area: a;
  background-color: #1e202b;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.Results .forecast {
  flex: 2;
  grid-area: b;
}
.Results .forecast .weekDay {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  color: #bfc1c8;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.Results .forecast img {
  display: flex;
  margin: 0 auto;
  padding: 30px 20px 0;
  height: 75px;
}
.Results .forecast .temperature {
  display: flex;
  flex-direction: column;
  padding: 40px 0 10px;
  color: white;
}
.Results .forecast .temperature p {
  text-align: center;
  margin: 0;
}
.Results .forecast .temperature .mainTemp {
  font-size: 1.25rem;
  padding: 5px;
}
.Results .forecast .temperature .secondTemp {
  color: #bfc1c8;
}
.Results .forecast .forecastText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bfc1c8;
  text-align: center;
  height: 35px;
  padding: 5px;
}
.today .weekDay {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
  color: #bfc1c8;
}
.today .locationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.today .locationContainer p {
  color: #bfc1c8;
  font-size: 1.25rem;
}
.today .city {
  font-size: 1.25rem;
  color: #bfc1c8;
}
.today .temperature {
  display: flex;
  justify-content: space-around;
}
.today .temperature img {
  width: 75px;
}
.today .temperature .mainTemp {
  font-size: 4rem;
  color: #ffff;
  margin: 0;
}
.today .wind {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.today .wind .wind-direction {
  display: flex;
  color: #bfc1c8;
  align-items: center;
}
.today .wind .wind-direction img {
  height: 30px;
  width: 30px;
}
.today .wind .wind-speed {
  display: flex;
  color: #bfc1c8;
  padding: 10px 40px;
  align-items: center;
}
.today .wind .wind-speed p {
  padding: 0 10px;
}
.today .wind .wind-direction p {
  padding: 0 10px;
}
.today .wind .wind-speed img {
  height: 30px;
  width: 30px;
}
.incorrectCity {
  display: none;
}
.forecastContainer {
  display: flex;
  flex: 2;
}
@media screen and (max-width: 400px) {
  .locationContainer p {
    font-size: 1rem !important;
  }
  .todayMainTemp {
    font-size: 2.5rem !important;
  }
  .temperature img {
    width: 50px !important;
  }
  .wind-speed {
    padding: 10px 7px !important;
  }
  .forecastTemp {
    font-size: 1.5rem;
  }
  .forecast {
    box-shadow: #009ad8 0px 2px 1px;
    border-radius: unset !important;
  }
  .today {
    border-radius: unset !important;
  }
}
@media screen and (max-width: 992px) {
  .checkLoading {
    padding: 0 0 200px;
  }
  .Results {
    display: block;
  }
  .today {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .forecastContainer {
    display: flex;
  }
  .evenStyle:nth-child(odd) {
    background-color: #1e202b !important;
  }
  .evenStyle:nth-child(even) {
    background-color: #323544 !important;
  }
  .forecast:first-child {
    border-bottom-left-radius: 10px;
  }
  .forecast:last-child {
    border-bottom-right-radius: 10px;
  }
}
